@use "../../styling/Variables.scss" as v;

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
  .portfolio-header {
      font-family: v.$secondary-font;
      font-size: v.$h1-font-size;
      color: v.$white;
      margin: 2rem;
    }
}
    