@use "../../styling/Variables.scss" as v;

.hej{
    font-family: v.$cow-font;
    font-size:40rem;
    transform: rotate(8.5deg);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: transparent; 
    z-index: 1; 
    position: absolute;

    @media screen and (max-width: 1440px) {
        font-size: 20rem;
    }

    @media screen and (max-width: 700px) {
        font-size: 8rem; 
    }
}