@use "../../styling/Variables.scss" as v;

.hej {
  font-family: v.$cow-font;
  font-size: 30vw;
  transform: rotate(8.5deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}
