.triangle {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 169.5px 293.6px 169.5px;
        border-color: transparent transparent #FFA9FF transparent;
        transform: rotate(0deg);
     }