.background {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mountain-container {
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.mountain1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60vw;
  height: 30vh;
  background-color: #ffa9ff;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
}

.mountain2 {
  position: absolute;
  bottom: 0;
  left: 40%;
  background-color: #ffa9ff;
  text-align: left;
  width: 15vw;
  height: 15vw;
  border-top-right-radius: 20%;
}
.mountain2:before,
.mountain2:after {
  content: "";
  position: absolute;
  background-color: inherit;
  width: 15vw;
  height: 15vw;
  border-top-right-radius: 15%;
}
.mountain2 {
  transform: rotate(-45deg) skewX(0deg) scale(0.7);
}
.mountain2:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.mountain2:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.mountain3 {
  position: absolute;
  top: 20%;
  right: 0;
  width: 55vw;
  height: 80vh;
  clip-path: polygon(74% 6%, 100% 54%, 100% 100%, 18% 100%, 71% 6%);
  background-color: #ffa9ff;
}
.peak {
  position: absolute;
  top: 23.7%;
  right: 15.2%;
  transform: translateX(50%);
  width: 1.8%;
  height: 3%;
  background-color: #ffa9ff;
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
}

.mountain1,
.mountain2,
.mountain3,
.peak {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

@media (max-width: 1500px) {
  .mountain3,
  .peak,
  .mountain2,
  .mountain1 {
    opacity: 0;
    pointer-events: none;
  }
}
