                    /** Navigation start**/
   /** mobile first navigation**/

body {
  margin: 0px;
  background-color: #404040;

}

h1 {
  font-family: 'permanent marker';
  font-size: 50px;
  text-transform: normal;
  text-decoration: none;
  color: white;
  margin-top: 80px;
}

h2 {
  font-family: 'britannic';
  font-size: 35px;
  text-transform: normal;
  text-decoration: none;
  color: white;
}

h3 {
  font-family: 'calibri';
  font-size: 30px;
  text-transform: normal;
  text-decoration: none;
  color: white;
}

h4 {
  font-family: 'calibri';
  font-size: 20px;
  text-transform: normal;
  text-decoration: none;
  color: white;
}

      /** Mobile first navigation, start**/

  .navigation {
      display: grid;
      grid-template-areas: 
      'logo'
      'boks2'
      'boks3'
      'boks4'
      'boks5';
      padding: auto;
      background-color: #03137e;
      text-align: center; 
  }


.alink {    
    display: block;
    padding: 0.3em; 
    font-family: 'britannic';
    text-transform: normal;
    text-decoration: none;
    font-family: 'britannic';
    font-size: 25px;
    color: white;
    padding-top: 25px;
}

.logo {
margin-top:5px}

.boks2:hover, .boks3:hover, .boks4:hover, .boks5:hover {
  background-color:#72102A;    
} 

      /** Mobile first navigation, slut**/

      /** Desktop navigation lille, start **/

@media screen and (min-width: 600px) {
  .navigation {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
  }

.navigation {
  display: grid;
  grid-template-areas: 
  'logo boks2 boks3 boks4 boks5';
  padding: auto;    
  background-color: #03137e;
  position: fixed;
  text-align: center;
  width: 100%;
}  

}
    /** Desktop navigation slut**/
                    /** Navigation slut**/



                    /** Forside**/
/** Forside mobile first start**/

.overskrift {
  justify-self: center;
  align-self: start;
  grid-area: overskrift;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 0vh 10vh 10vh 40vh 10vh 10vh 10vh;
  gap: 0px 0px;
  grid-template-areas:
    "overskrift"
    "underoverskrift"
    "tekstoverskrift"
    "tekst"
    "forsidebillede"
    "knap"
    "knap1"
    "knap2";
  width: 100%;
  margin: auto;
  margin-top: 0px;
}

.underoverskrift {
  justify-self: center;
  align-self: start;
  grid-area: underoverskrift;
}

.tekstoverskrift {
  justify-self: center;
  align-self: center;
  grid-area: tekstoverskrift;
}

.tekst {
  justify-self: center;
  align-self: start;
  grid-area: underoverskrift;
  justify-self: center;
  align-self: center;
  grid-area: tekst;
}


.forsidebillede {
  background-image: url("/image.jpg");
  background-size: contains;
  width: 300px;
  height: auto;
  justify-self: center;
  align-self: end;
  grid-area: forsidebillede;
  border: solid 10px rgb(0, 0, 0);

}

.knap {

  justify-self: center;
  align-self: center;
  grid-area: knap;
}

.knap1 {

  justify-self: center;
  align-self: center;
  grid-area: knap1;
}

.knap2 {

  justify-self: center;
  align-self: center;
  grid-area: knap2;
}

/** Forside mobile first slut**/

/** Forside desktop start**/

@media screen and (min-width: 600px) {
  .navigation {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
}

main{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 150px 100px 424px 100px 100px;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "overskrift overskrift ."
    ". underoverskrift knap"
    "tekstoverskrift knap1 forsidebillede"
    "tekst . knap2"
    ". . .";
  height: 100%;
}


.overskrift {
  justify-self: center; 
  grid-area: overskrift; 
}

.underoverskrift {
  justify-self: center; 
  grid-area: underoverskrift; 
}

.tekstoverskrift {
  justify-self: center; 
  grid-area: tekstoverskrift; 
}

.tekst {

  justify-self: left;
  grid-area: tekst;
  margin-bottom: 400px;
}


.forsidebillede {
  background-image: url("/image.jpg");
  background-size: contains;
  width: 300px;
  height: auto;
}

.knap {

  justify-self: center;
  align-self: center;
  grid-area: knap;
}

.knap1 {

  justify-self: center;
  align-self: center;
  grid-area: knap1;
}

.knap2 {

  justify-self: center;
  align-self: center;
  grid-area: knap2;
}

}

/** Forside desktop slut**/





/** Om Alvi desktop start**/

.omalvi {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "overskrift overskrift ."
    "underoverskift underoverskift ."
    "tekst billede0 billede1"
    "tekst billede2 billede3"
    ". . .";
  height: 100%;
}

.overskrift {

  justify-self: center;
  align-self: start;
  grid-area: overskrift;
}

.underoverskift {

  justify-self: center;
  align-self: start;
  grid-area: underoverskift;
}

.billede0 {

  justify-self: center;
  align-self: center;
  grid-area: billede0;
}

.billede1 {

  justify-self: center;
  align-self: center;
  grid-area: billede1;
}

.billede2 {

  justify-self: center;
  align-self: center;
  grid-area: billede2;
}

.billede3 {

  justify-self: center;
  align-self: center;
  grid-area: billede3;
}

.tekst {

  justify-self: center;
  align-self: center;
  grid-area: tekst;
}
