

   /** skrifttyper til alle html sider**/

   body {
    margin: 0px;
    background-color: #404040;
  
  }
  
  h1 {
    font-family: 'permanent marker';
    font-size: 4.5vh;
    text-decoration: none;
    color: white;
    margin-top: 90px;
  }
  
  h2 {
    font-family: 'britannic';
    font-size: 3.5vh;
    text-decoration: none;
    color: white;
    margin-bottom:30px;
  }
  
  h3 {
    font-family: 'britannic';
    font-size: 2.5vh;
    color: white;
  }
  
  h4 {
    font-family: 'M PLUS Rounded 1c';
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  
        /** Mobile first navigation, start**/
  
    .navigation {
        display: grid;
        grid-template-areas: 
        'logo'
        'boks2'
        'boks3'
        'boks4';
        background-color: #03137e;
        text-align: center; 
    }
 
    
  .link {
    font-family: 'permanent marker';
    font-size: 5vh;
    text-decoration: none;
    display: grid;
    gap: 50px;
    color: white;
    display: grid;
    gap: 10px;
    padding: 0px;
    justify-content: center;
  }

  .link > li > a {
    color: white;
    text-decoration: none;
   }

  .link > li {
    display: block;
  }

  
  .alink {    
      display: block;
      padding: 0.3em; 
      font-family: 'britannic';
      text-decoration: none;
      font-family: 'britannic';
      font-size: 25px;
      color: white;
      padding-top: 25px;
  }
  
  .logo {
  margin-top:5px}
  
  .boks2:hover, .boks3:hover, .boks4:hover {
    background-color:#72102A;    
  } 
  
                   /** Navigation start**/

        /** Mobile first navigation, slut**/
  


        /** Desktop navigation lille, start **/
  
  @media screen and (min-width: 900px) {
    .navigation {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
  
  .navigation {
    display: grid;
    grid-template-areas: 
    'logo boks2 boks3 boks4';
    background-color: #03137e;
    position: fixed;
    text-align: center;
    width: 100%;
  }  
  
  }
      /** Desktop navigation slut**/
                      /** Navigation slut**/
  
  
  
                      /** Forside**/
  /** Forside mobile first start**/
  
  
  main {
    display: grid;
    grid-template-columns: 30px 440px 30px;
    grid-template-rows: 200px 80px 400px 50px 100px 50px 50px 50px 50px 0px 300px 300px 300px 300px 300px 300px 300px 300px;
    gap: 0px 0px;
    grid-template-areas:
      ". overskrift ."
      ". underoverskrift ."
      ". forsidebillede ."
      ". tekstoverskrift ."
      ". tekst ."
      ". knap ."
      ". . ."
      ". . ."
      ". knap1 ."
      ". knap2 ."
      ". right1 ." 
      ". left1 ."
      ". left2 ."
      ". right2 ."
      ". right3 ."
      ". left3 ."
      ". left4 ."
      ". right4 ."; 
    margin: auto;
    margin-top: 0px;
    justify-content: center;
  }
 
     .content  > p {
      color: white;
      font-size: 20px;
    }

    .content {
      width: 300px;
      margin: auto;
      display: flex;
      justify-content:center;
    }

    .right1 {
      grid-area: right1;
    }

    .right2 {
      grid-area: right2;
    }

    .right3 {
      grid-area: right3;
    }

    .right4 {
      grid-area: right4;
    }

    .left1 {
      grid-area: left1;
    }

    .left2 {
      grid-area: left2;
    }
  
    .left3 {
      grid-area: left3;
    }

    .left4 {
      grid-area: left4;
    }

 


  .overskrift {
    justify-self: center;
    align-self: center;
    grid-area: overskrift;
  }

  .billede {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }


  .underoverskrift {
    justify-self: center;
    align-self: center;
    grid-area: underoverskrift;
  }
  
  .tekstoverskrift {
    justify-self: center;
    align-self: center;
    grid-area: tekstoverskrift;
  }


  .tekstoverskrift > p {
    font-family: 'permanent marker';
    font-size: 5vh;
    color: white;
  }
  
  .tekst {
    grid-area: underoverskrift;
    grid-area: tekst;
    justify-self: center;
    align-self: center;
  }
  
  .forsidebillede {
    background-image: url("/image.jpg");
    height: auto;
    justify-self: center;
    align-self: end;
    grid-area: forsidebillede;

  }

  .billede {
    width: 100%;
    height: auto;
  }

  .knap {
  
    justify-self: center;
    align-self: center;
    grid-area: knap;
  }
  
  .knap1 {
  
    justify-self: center;
    align-self: center;
    grid-area: knap1;
  }
  
  .knap2 {
  
    justify-self: center;
    align-self: center;
    grid-area: knap2;
  }

  /** Forside mobile first slut**/
  
  /** Forside desktop start**/

  @media screen and (min-width: 900px) {
    .navigation {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
  
    main{
      display: grid;
      grid-template-columns: 8% 28% 5% 28% 8%;
      grid-template-rows: 250px 424px 100px 0px 0px 300px 300px 300px 300px 300px;
      grid-auto-columns: 1fr;
      justify-content: center;
      align-content: center;
      grid-template-areas:
        ". overskrift . knap ."
        ". underoverskrift knap1 forsidebillede ."
        ". tekstoverskrift . knap2 ."
        ". tekst . . ."
        ". . . . ."
        ". left1 . right1 ."
        ". left2 . right2 ."
        ". left3 . right3 ."
        ". left4 . right4 .";
      height: 100%;
    }



    .overskrift {
      justify-self: left;
      grid-area: overskrift; 
    }
  
    h1 {
      font-size: 80px;
    }

    .underoverskrift {
      justify-self: left;
      grid-area: underoverskrift;
      margin-bottom: 470px;
    }
  
    .tekstoverskrift {
      justify-self:left; 
      grid-area: tekstoverskrift; 
      margin-bottom:650px;
    }
  
    .tekst {
      justify-self: left;
      grid-area: tekst;
      margin-bottom: 550px;
    }

    .forsidebillede {
      background-image: url("/image.jpg");
      height: auto;
      margin: auto;
    }

  
    .knap {
      justify-self: center;
      align-self: end;
      grid-area: knap;
      margin-bottom: 50px;
    }
  
    .knap1 {
      justify-self: center;
      align-self: center;
      grid-area: knap1;
    }

    .knap2 {
      justify-self: center;
      align-self: center;
      grid-area: knap2;
    }
  
  h1 {
    font-family: 'permanent marker';
    font-size: 9vh;
    text-decoration: none;
    color: white;
    margin-top: 90px;
  }
  
  h2 {
    font-family: 'britannic';
    font-size: 5vh;
    text-decoration: none;
    color: white;
    margin-bottom:70px;
  }

 h3 {
    font-family: 'britannic';
    font-size: 4vh;
    text-decoration: none;
    color: white;
    margin-bottom:70px;
  }
  

  
  h4 {
    font-family: 'M PLUS Rounded 1c';
    font-size: 3vh;
    text-decoration: none;
    color: white;
  }
}
  
/** Forside desktop slut**/

