@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Moo+Lah+Lah&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

$primary-font: "Sometype", sans-serif;
$secondary-font:"Bevan", serif;
$cow-font:"Moo Lah Lah", sans-serif;

$primary-pink: #ffcaff;